@import "./abstracts/mixins.scss";
@import "./layout/header.scss";
@import "./layout/play-field.scss";
@import "./components/pause";

.wrapper {
  padding: 20px 0 0 0;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(#b39cf3, #d8ad7c);
}
