.pet-diet-wrapper {
  margin-left: 17.93%;
  display: grid;
  grid-template-columns: 170px 14px 348px;
  grid-template-rows: 223px 131px;
  @media (max-width: $smallDesktop) {
    margin-left: 16.85%;
  }
  .diet-amount {
    @include textMArginReset;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top: 164px;
    margin-right: 8px;
  }
  .diet-descript {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center bottom;
    color: #333b41;
    margin-top: 8px;
  }
  .cross {
    grid-row: span 2;
    background: url("/src/../assets/svg/x_icon.svg") no-repeat top 56% left 50%;
  }
  .diet-icon {
    grid-row: span 2;
    background: url("/src/../assets/svg/panda-icon.svg") no-repeat top 53% right;
  }
}
