.logo {
  @include robotoRegular;
  box-sizing: border-box;
  //   border
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  //   text
  color: #ffffff;
  text-align: center;
  padding: 3.75px 4.75px;
  font-size: 19px;
  line-height: 22.82px;

  //   svg
  background-image: url("/src/../assets/svg/bamboo.svg");
  background-repeat: no-repeat;
  background-position: 12.2% 73%;
  @media (max-width: $mobile) {
    width: 128px;
    height: 24px;
    padding: 0;
    text-align: left;
    border: none;
    background-image: url("/src/../assets/svg/bamboo.svg");
    background-repeat: no-repeat;
    background-position: 72px -4px !important;
  }
}

.logo-link {
  text-decoration: none;
}

.pick-logo {
  box-sizing: border-box;
  height: 167px;
  width: 167px;
  border-radius: 5px;
  border: 1px solid $orange;
}

.logo-header {
  @media (max-width: $tablet) {
    border: none;
    width: 46.93px;
    height: 29.02px;
    font-size: 12.2899px;
    line-height: 15px;
    background-size: 15%;
    padding: 0;
    padding-left: 0.5px 0.5px 0 0;
  }
}
