.logo {
  @include robotoRegular;
  box-sizing: border-box;
  //   border
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  //   text
  color: #ffffff;
  text-align: center;
  padding: 3.75px 4.75px;
  font-size: 19px;
  line-height: 22.82px;

  //   svg
  background-image: url("/src/../assets/svg/bamboo.svg");
  background-repeat: no-repeat;
  background-position: 10px 24px;
}

.pick-logo {
  box-sizing: border-box;
  height: 167px;
  width: 167px;
  border-radius: 5px;
  border: 1px solid $orange;
}
