.pick-description {
  color: #333b41;
  text-align: left;
  // margin-left: 99px;
  margin-left: 8.53%;
  @media (max-width: $smallDesktop) {
    margin-left: 5.21%;
  }
  @media (max-width: $tablet) {
    width: 93.75%;
    margin: 0 auto;
  }
  p {
    display: block;
  }
  .pick-description__subtitle {
    @include robotoRegular;
    @include textMArginReset;
    display: block;
    font-size: 24px;
    line-height: 28.8px;
    @media (max-width: $tablet) {
      width: 100%;
      font-size: 22px;
      line-height: 26.4px;
    }
    @media (max-width: $tablet) {
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
  .pick-description__first-p {
    @include robotoBtn;
    @include textMArginReset;
    display: block;
    line-height: 20.8px;
    margin-top: 41px;
    @media (max-width: $smallDesktop) {
      margin-top: 20px;
      width: 89%;
    }
    @media (max-width: $tablet) {
      width: 100%;
      font-size: 16px;
      line-height: 20.8px;
    }
    @media (max-width: $mobile) {
      display: none !important;
    }
  }
  .pick-description__second-p {
    @include robotoRegular;
    @include textMArginReset;
    display: block;
    // width: 863px;
    width: 81.34%;
    font-size: 16px;
    line-height: 20.8px;
    margin-top: 11px;
    @media (max-width: $smallDesktop) {
      width: 90%;
    }
    @media (max-width: $tablet) {
      width: 100%;
      font-size: 16px;
      line-height: 20.8px;
    }
    @media (max-width: $mobile) {
      display: none !important;
    }
    a {
      color: #333b41;
    }
  }
}
.pick-subtitle {
  @include textMArginReset;
  @include robotoRegular;
  font-size: 36px;
  line-height: 46.8px;
  // margin-top: 60px;
  // width: 209px;
  width: 18%;
  // margin-left: 475px;
  margin: 60px auto 0px auto;
  @media (max-width: $smallDesktop) {
    width: 22.23%;
    margin-top: 40px;
  }
  @media (max-width: $tablet) {
    margin-top: 30px;
    width: 32.65%;
    font-size: 36px;
    line-height: 46.8px;
  }
  @media (max-width: $mobile) {
    margin-top: 20px;
    width: 46.33%;
    font-size: 24px;
    line-height: 29px;
  }
}
