.big {
  @media (max-width: 620px) {
    display: none !important;
  }
}

.small {
  display: none !important;
  @media (max-width: 620px) {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0 !important;
    height: 691px;
  }
}

.steps {
  margin: 40px auto 59px auto;
  // width: 764px;
  width: 65.86%;
  display: grid;
  // grid-template-columns: 1fr 130px 1fr 130px 1fr;
  grid-template-columns: 22% 17% 22% 17% 22%;
  // grid-template-rows: 168px 46px;
  grid-template-rows: 1fr 46px;
  grid-row-gap: 30px;
  @media (max-width: $smallDesktop) {
    width: 81.28%;
    margin-bottom: 70px;
  }
  @media (width: $tablet) {
    width: 91.85%;
    grid-template-columns: 28.6% 7.1% 28.6% 7.1% 28.6%;
    margin: 20px 0 39px 21px;
  }
  @media (max-width: 639px) {
    width: 91.85%;
    grid-template-columns: 28.6% 7.1% 28.6% 7.1% 28.6%;
    margin: 20px auto 39px auto;
  }
  @media (max-width: $mobile) {
    grid-template-columns: 28.6% 7.1% 28.6% 7.1% 28.6%;
    grid-auto-flow: row;
    // grid-template-columns: 100%;
    // grid-template-rows: 168px 64px 20px 168px 64px 20px 168px 64px;
  }
  .steps-item1 {
    background: url("/src/../assets/svg/pay.svg") no-repeat top 50% left 50%,
      white;
    @media (max-width: $smallDesktop) {
      width: 168px;
      aspect-ratio: 1/1;
    }
  }
  .steps-item2 {
    grid-row: span 2;
    background: $vectorPick;
    @media (max-width: 900px) {
      background: url("/src/../assets/svg/green-arrow-gor.svg") no-repeat left
        50% top;
      position: relative;
      z-index: 2;
      left: -37px;
      top: -15px;
      width: 100px;
    }
  }
  .steps-item3 {
    background: url("/src/../assets/svg/zoo.svg") no-repeat top 50% left 50%,
      white;
    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }
  .steps-item4 {
    grid-row: span 2;
    background: $vectorPick;
    @media (max-width: 900px) {
      background: url("/src/../assets/svg/green-arrow-gor.svg") no-repeat left
        50% top;
      position: relative;
      z-index: 2;
      left: -37px;
      top: -15px;
      width: 100px;
    }
  }
  .steps-item5 {
    background: url("/src/../assets/svg/monkey.svg") no-repeat top 50% left 50%,
      white;
    @media (max-width: $mobile) {
      margin-top: 20px;
    }
  }
  .steps-text {
    @include robotoRegular;
    font-size: 16px;
    line-height: 22.4px;
    @media (max-width: $mobile) {
      height: 23px;
      width: 168px;
      margin-top: 14px;
    }
  }
}

.arrow-steps-container {
  width: 100%;
  height: 20px;
  // margin-bottom: 20px;
  .green-arrow {
    @media (max-width: 620px) {
      background: url("/src/../assets/svg/green-arrow-vert.svg") no-repeat;
      position: relative;
      z-index: 2;
      width: 100px;
      height: 100px;
      left: 80%;
      top: -40px;
    }
    @media (max-width: $mobile) {
      left: 228px;
      top: -40px;
    }
  }
}
