.pick-description {
  color: #333b41;
  text-align: left;
  margin-left: 99px;
  p {
    display: block;
  }
  .pick-description__subtitle {
    @include robotoRegular;
    @include textMArginReset;
    font-size: 24px;
    line-height: 28.8px;
  }
  .pick-description__first-p {
    @include robotoBtn;
    @include textMArginReset;
    line-height: 20.8px;
    margin-top: 41px;
  }
  .pick-description__second-p {
    @include robotoRegular;
    @include textMArginReset;
    width: 863px;
    font-size: 16px;
    line-height: 20.8px;
    margin-top: 11px;
    a {
      color: #333b41;
    }
  }
}
.pick-subtitle {
  @include textMArginReset;
  @include robotoRegular;
  font-size: 36px;
  line-height: 46.8px;
  margin-top: 60px;
  width: 209px;
  margin-left: 475px;
}
