.popup-window {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.5s;
  position: fixed;
  width: 100% !important;
  background: white;
  height: 329px;
  top: 0px;
  left: 0px;
  transform: translateY(-329px);
  z-index: 4;
  .logo {
    width: 65.6px;
    height: 41.6px;
    border: 1px solid $orange;
    text-align: center;
    padding: 2.84px 3.8px;
    font-size: 15.2px;
    line-height: 18px;
    color: $orange;
    margin-left: -19px;
    background-image: url("/src/../assets/svg/bamboo-ornge.svg");
    background-repeat: no-repeat;
    background-position: 12.2% 78%;
    margin-bottom: 15.4px;
    @media (width: $mobile) {
      margin-left: -9px;
    }
  }
  .popup-part {
    @include robotoRegular;
    font-size: 16px;
    line-height: 22px;
    color: $text;
    margin-top: 15px;
  }
}

.burger-active {
  transition: 0.3s;
  .burger-part:nth-child(2) {
    opacity: 0;
  }
  .burger-part:nth-child(1) {
    transform: rotate(45deg) translateX(5.5px);
    border-top: 2px solid black;
  }
  .burger-part:nth-child(3) {
    transform: rotate(-45deg) translateX(5.5px);
    border-top: 2px solid black;
  }
}

.overlay-hidden {
  display: none !important;
}

.popup-show {
  transform: translateY(0px);
}

.burger-link {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $orange !important;
    }
    &:visited {
      color: black;
    }
    &:active {
      color: $green;
    }
  }
}

.popup-testim {
  position: fixed;
  height: 391px;
  width: 100%;
  top: 20%;
  z-index: 6;
  .testim-cross {
    position: fixed;
    height: 14px;
    width: 14px;
    background: url("/src/../assets/svg/cross-orange.svg");
    left: 73%;
  }
  .replay-popup {
    margin: 0 auto;
    width: 267px;
    background: $pinkGradient;
    border-radius: 20px;
    .replay-inner-popup {
      @include robotoLight;
      @include textMArginReset;
      color: $textGray;
      border-radius: 20px;
      margin: 2px;
      height: 360px;
      width: 237px;
      background: #f1f3f2;
      font-size: 15px;
      line-height: 18px;
      padding: 13px 14px 13px 13px;
      color: #bdbdbd;
      .userpic {
        float: left;
        margin-right: 10px;
        border-radius: 50%;
      }
      h3 {
        @include textMArginReset;
        @include robotoRegular;
        font-size: 16px;
        line-height: 19.2px;
        color: black;
      }
      span {
        height: 3px;
        width: 3px;
        background: #bdbdbd;
        margin-bottom: 3px;
        margin-left: 8px;
        margin-right: 5px;
        border-radius: 50%;
        display: inline-block;
      }
      p {
        @include textMArginReset;
        margin-top: 10px;
        color: $textGray;
      }
    }
  }
}
