.progress-bar-wrapper {
  box-sizing: border-box;
  margin-top: 18px;
  margin-left: -6px;
  padding-top: 12px;
  // width: 976px;
  width: 100%;
  min-width: 810px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  @media (max-width: $smallDesktop) {
    width: 810px;
    margin-left: 17px;
  }
  .progress-line {
    // width: 915px;
    width: 94.75%;
    height: 2px;
    background: #72828e;
    // margin-left: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .progress-point {
      transition: 0.5s;
      margin-top: -4px;
      margin-left: -3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffee2e;
    }
  }
}

.progress-price {
  margin-top: 12px;
  margin-left: -8px;
  // width: 991px;
  width: 85.43%;
  min-width: 810px;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  @media (max-width: $smallDesktop) {
    width: 88.3%;
    margin-left: 17px;
  }
  .price-point {
    background: url("/src/../assets/svg/dollar-icon.svg") no-repeat left top 60%;
    margin-left: 11.5%;
    p {
      @include textMArginReset;
      width: 0px;
      margin-left: 12px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 140%;
      text-transform: uppercase;
      color: #333b41;
    }
  }
  .p1 {
    margin-left: 0px;
  }
}

.border-one {
  transition: 0.5s;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 3.7px;
  height: 2px;
  width: 2px;
  // border: 1px solid $orange;
}

.border-active-one {
  border: 0.01px solid $orange;
  transform: scale(12);
}
