.replay {
  background: $pinkGradient;
  border-radius: 20px;
  .replay-inner {
    @include robotoLight;
    @include textMArginReset;
    color: $textGray;
    border-radius: 20px;
    margin: 2px;
    height: 360px;
    width: 237px;
    background: #f1f3f2;
    font-size: 15px;
    line-height: 18px;
    padding: 13px 14px 13px 13px;
    color: #bdbdbd;
    @media (max-width: 1599px) {
      width: 263px;
    }
    @media (max-width: $tablet) {
      width: 94.7%;
      height: 78px;
    }
    @media (max-width: 630px) {
      width: 90%;
    }
    @media (max-width: $mobile) {
      width: 272px;
      height: 84px;
      padding: 8px 14px 13px 10px;
    }
    .userpic {
      float: left;
      margin-right: 10px;
      border-radius: 50%;
      @media (max-width: $mobile) {
        margin-right: 7px;
      }
    }
    h3 {
      @include textMArginReset;
      @include robotoRegular;
      font-size: 16px;
      line-height: 19.2px;
      color: black;
    }
    span {
      height: 3px;
      width: 3px;
      background: #bdbdbd;
      margin-bottom: 3px;
      margin-left: 8px;
      margin-right: 5px;
      border-radius: 50%;
      display: inline-block;
    }
    p {
      @include textMArginReset;
      margin-top: 10px;
      color: $textGray;
      @media (max-width: $tablet) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      @media (max-width: $mobile) {
        margin-left: 5px;
      }
    }
  }
}
