.scroll-bar {
  width: 599px;
  height: 7px;
  border: 0.5px solid $pink;
  border-radius: 5px;
  background: #f5f7f6;
  .scroll-btn {
    width: 115.2px;
    height: 7px;
    background: $orange;
    border-radius: 5px;
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      background: green;
    }
  }
}
