@import "./base/normalize";

// abstracts

@import "./abstracts/variables";
@import "./abstracts/mixins";

// components

@import "./components/logos";
@import "./components/buttons";
@import "./components/pick-description";
@import "./components/pick-steps";
@import "./components/scrollbar";
@import "./components/replay-cards";
@import "./components/media-links";
@import "./components/subscribe";
@import "./components/donate-diet-pick";
@import "./components/progress-bar";
@import "./components/radio-button";
@import './components/animation';

// layout

@import "./layout/main";
@import "./layout/header.scss";
@import "./layout/watch-section";
@import "./layout/backstage-section";
@import "./layout/_choose-section";
@import "./layout/pick-section";
@import "./layout/testimonials-section";
@import "./layout/footer";

//pages

@import "./pages/donate-page";
