.guess-wrapper {
  @include windowBorder;
  margin: 20px auto 10px auto;
  width: 540px;
  background: $greyBg;
  grid-column: span 2;
  padding: 10px 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  @media (max-width: $smallDesktop) {
    margin-top: 60px;
    grid-template-columns: 137px 1fr;
    grid-template-rows: 20px 1fr;
  }
  .answer {
    color: white;
    font-size: 20px;
    @include centered;
    margin-top: 10px;
  }
  .bird-current {
    grid-row: span 2;
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    @include centered;
    @media (max-width: $smallDesktop) {
      width: 137px;
      height: 137px;
    }
    img {
      width: 100%;
    }
  }
  .player {
    margin: 20px 0 0 10px;
    @include windowBorder;
    padding: 5px;
    @media (max-width: $smallDesktop) {
      margin: 20px 0 0 30px;
    }
  }
}
