.player {
  display: grid;
  width: 300px;
  height: 60px;
  grid-template-columns: 60px 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 1fr 1fr;
  .play {
    transition: 0.3s;
    grid-row: span 2;
    height: 100%;
    width: 100%;
    background-image: url("../assets/svg/play.svg");
    background-color: rgba(245, 245, 220, 0);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  .timeline {
    margin-top: 12px;
    background: grey;
    width: 100%;
    cursor: pointer;
    height: 6px;
    .progress {
      background: white;
      height: 100%;
    }
  }
  .audio-status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .audio-time {
      display: flex;
      justify-content: space-between;
      color: white;
    }
  }
}

.volume-container {
  display: flex;
  width: 20px;
  height: 18px;
}

.volume-percentage {
  background-color: white;
  height: 100%;
}

.volume-slider {
  width: 40%;
  background: grey;
  display: none;
  height: 6px;
}

.volume-button {
  height: 18px;
  width: 20px;
  background-image: url("../assets/svg/volume.svg");
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
