.stage-bar {
  @include marginReset;
  @include quizMargin;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  list-style: none;
  grid-column: span 2;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media (max-width: $smallDesktop) {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  @media (max-width: $mobile) {
    width: 100%;
    padding: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .stage {
    @include centered;
    font-size: 20px;
    color: white;
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 5px;
    @media (max-width: $mobile) {
      font-size: 14px;
    }
  }
}
.active {
  background-color: green !important;
  border: 2px solid green !important;
  color: white !important;
  transform: scale(1.1);
  @media (max-width: $mobile) {
    transform: scale(0.9);
  }
}
.complete {
  background-color: rgb(7, 40, 7) !important;
  color: white !important;
}
