.variants-wrapper {
  @include marginReset;
  @include quizMargin;
  position: relative;
  z-index: 8;
  width: 95%;
  margin: 0 auto 0 auto;
  height: 35px;
  grid-column: span 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 20px;
  gap: 10px;
  @media (max-width: $mobile) {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .variant {
    @include centered;
    @include buttonBorder;
    padding: 0 5px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
    @media (max-width: $smallDesktop) {
      font-size: 16px;
    }
  }
}
