.header-wrapper {
  @include bg;
  width: 85%;
  // height: 150px;
  padding: 10px;
  margin: 0px auto 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .title {
    width: 50%;
    text-align: center;
    height: 50px;
    font-size: 40px;
    margin: 0px auto 20px auto;
    color: white;
    background-color: brown;
    @include border;
    @include center;
    @media (max-width: 560px) {
      width: 80%;
      font-size: 30px;
    }
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 90%;
    justify-content: space-between;
    height: 50px;
    font-size: 20px;
    margin: 0 auto 20px auto;
    @media (max-width: 560px) {
      height: fit-content;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      margin: 0 auto 5px auto;
    }
    .control-elem {
      @include border;
      @include center;
      background-color: $blue;
      color: white;
      width: 200px;
      height: 40px;
      &:hover {
        @include active;
      }
    }
    .new-game {
      display: flex;
      .new {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .status {
    margin: 30px auto 0 auto;
    font-size: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 40px;
    @media (max-width: 560px) {
      margin: 5px auto 0 auto;
      height: fit-content;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
    .status-elem {
      @include border;
      @include center;
      background-color: brown;
      color: white;
      width: 200px;
      height: 40px;
    }
  }
}
