.play-field-wrapper {
  @include bg;
  margin: 0 auto;
  // height: 500px;
  width: 50%;
  min-width: 260px;
  aspect-ratio: 1/1;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  @media (max-width: 760px) {
    width: 80%;
  }
  .gem {
    @include center;
    background-color: brown;
    border: 2px solid white;
    font-size: 30px;
    color: white;
    transition: 0.2s;
    @media (max-width: 769px) {
      font-size: 17px;
    }
  }
}

.fieldSize3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.fieldSize4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.fieldSize5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.fieldSize6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.fieldSize7 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.fieldSize8 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.fieldRecords {
  display: block !important;
}

.moveLeft {
  transform: translateX(-110%);
}

.moveRight {
  transform: translateX(110%);
}

.moveTop {
  transform: translateY(-110%);
}

.moveBottom {
  transform: translateY(110%);
}
.zero {
  opacity: 0;
}

.readyToMove {
  position: relative;
  z-index: 100;
}

.draggable {
  border: 2px solid rgb(117, 95, 218) !important;
  cursor: grab;
}

.dragging {
  opacity: 0;
  transition: 0 !important;
}

.sorted {
  background-color: rgb(24, 17, 49);
  @include border;
}
