.gallery-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .overlay {
    width: 100vw;
    position: fixed;
    background-color: rgba(214, 214, 214, 0.753);
    top: 0;
    height: 100vh;
    z-index: 8;
  }
  .gallery-wrapper {
    width: 90%;
    margin: 10px auto 20px auto;
    overflow: hidden;
    @include windowBorder;
    @media (max-width: $smallDesktop) {
      width: 80%;
    }
    @media (max-width: $mobile) {
      width: 80%;
    }
    .gallery-slider {
      width: 600%;
      position: relative;
      display: flex;
      transition: 0.5s;
      z-index: 6;
      .slide {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        padding: 10px;
        @media (max-width: $mobile) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 1fr);
        }
        .gal-part {
          background-size: contain;
          background-position: top 50% left 50%;
          background-repeat: no-repeat;
          height: 200px;
          width: 200px;
          margin: 0 auto;
          @media (max-width: $smallDesktop) {
            width: 150px;
            height: 150px;
          }
          @media (max-width: $mobile) {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}

.arrows {
  position: relative;
  top: 250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  @media (max-width: $smallDesktop) {
    top: 200px;
  }
  .back-wrapper,
  .fwd-wrapper {
    height: 50px;
    width: 40px;
    border-radius: 5px;
    img {
      position: relative;
      z-index: 7;
      height: 100%;
      @include buttonBorder;
      border-radius: 5px;
      height: 70px;
      width: 30px;
    }
  }
  .fwd-wrapper {
    img {
      transform: rotate(180deg);
      @include buttonBorder;
      border-radius: 5px;
      &:hover {
        transform: rotate(180deg) scale(1.2);
      }
    }
  }
  .back-wrapper {
    img {
      margin-left: 10px;
    }
  }
}

.popup {
  position: fixed;
  width: 80%;
  left: 8%;
  z-index: 12;
  .close {
    position: fixed;
    height: 40px;
    width: 40px;
    background-image: url("../assets/svg/close.svg");
    left: 87%;
    margin-top: 20px;
  }
  .bird-card {
    width: 100%;
    margin: 0 auto;
    border: 1.5px solid white;
  }
}

.gallery-body {
  justify-content: flex-start;
}

.hide {
  display: none;
}
