.header-wrapper {
  background-color: $blackBg;
  width: 100%;
  font-size: 40px;
  padding: 15px 0;
  @include centered;
  a {
    text-decoration: none;
  }
}
.main-title {
  @include marginReset;
  color: white;
  font-family: Pacifico, cursive;
}
