.main-quiz {
  width: 100%;
  .quiz-wrapper {
    width: 70%;
    height: 600px;
    padding: 15px;
    background-color: $blackBg;
    margin: 0px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 50px 1fr 50px;
    .stage-list {
      @include marginReset;
      display: flex;
      list-style: none;
      grid-column: span 2;
      justify-content: space-between;
      align-items: center;
    }
    .guess-wrapper {
      .bird-image {
        object-fit: contain;
        width: 199px;
        height: 199px;
        background-color: white;
        img {
          width: 200px;
        }
      }
    }
  }
}
