.main-quiz {
  width: 100%;
  .quiz-wrapper {
    @include windowBorder;
    width: 70%;
    min-width: 980px;
    padding: 10px 5px;
    background-color: $blackBg;
    margin: 20px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 50px 230px 50px 1fr 50px;
    @media (max-width: $smallDesktop) {
      width: 600px;
      min-width: 360px;
      padding: 0px 0px 10px 0px;
    }
    @media (max-width: $mobile) {
      width: 340px;
      min-width: 340px;
      display: flex;
      flex-direction: column;
    }
    .bird-card-wrapper {
      @include quizMargin;
      grid-column: span 2;
      margin-top: -20px;
      @media (max-width: $smallDesktop) {
        width: 100%;
      }
      .bird-card-placeholder {
        @include windowBorder;
        position: relative;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
        color: white;
        font-size: 30px;
        top: 170px;
        text-align: center;
      }
    }
    .next-stage {
      width: 70%;
      margin: 10px 5px 0px 30%;
      @include centered;
      color: white;
      font-size: 20px;
      @include buttonBorder;
      border-radius: 5px;
      @media (max-width: $mobile) {
        margin: 5px auto;
      }
    }
    .score-wrapper {
      margin: 10px 15% 0px 5px;
      @include centered;
      @include windowBorder;
      color: white;
      font-size: 20px;
      @media (max-width: $mobile) {
        margin: 5px auto;
        width: 70%;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.rightAnswer {
  border: 1.5px solid green !important;
  color: white !important;
  background-color: green !important;
}

.wrongAnswer {
  border: 1.5 solid red !important;
  color: white !important;
  background-color: red !important;
}
