.result {
  width: 100%;
  @include centered;
  .result-wrapper {
    width: 50%;
    background-color: $blackBg;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    .last-game {
      @include windowBorder;
      background-color: $greyBg;
      .result-title {
        @include marginReset;
        margin: 20px auto 20px auto;
        font-size: 40px;
        text-align: center;
      }
      .final-score {
        font-size: 30px;
        margin: 0 10px 20px 10px;
      }
    }
    a {
      text-decoration: none;
      .retry-btn,
      .gallery-btn {
        font-size: 20px;
        color: rgb(48, 46, 46);
        background-color: white;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}
