@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin marginReset {
  margin: 0px;
  padding: 0px;
}

@mixin quizMargin {
  width: 85%;
  margin: 10px auto 0px auto;
}

@mixin windowBorder {
  border-radius: 5px;
  border: 1.5px solid white;
  background-color: $flatGreyBg;
}

@mixin buttonBorder {
  color: rgb(48, 46, 46);
  background-color: white;
  transition: 0.5s;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
