@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin marginReset {
  margin: 0px;
  padding: 0px;
}

@mixin quizMargin {
  width: 85%;
  margin: 10px auto 0px auto;
}

@mixin buttonBorder {
  border-radius: 5px;
  border: 1.5px solid white;
  background-color: $flatGreyBg;
}
