.backstage {
  width: 100%;
  background-image: url("/src/../assets/img/flower_foto1.jpg");
  background-repeat: no-repeat;
  background-position: right 12px;
  padding: 140px 0 180px 0;
  @media (max-width: 1300px) {
    background: none;
  }
  @media (max-width: $smallDesktop) {
    background: none;
    padding: 109px 0 152px 0;
  }
  @media (max-width: 990px) {
    background-image: url("/src/../assets/img/flower_foto1-tablet.jpg");
    background-repeat: no-repeat;
    background-position: right top -6px;
    padding: 109px 0 36px 0;
  }
  @media (max-width: 600px) {
    background-image: url("/src/../assets/img/flower_foto1-mob.jpg");
    background-repeat: no-repeat;
    background-position: right top 30px;
    padding: 148px 0 36px 0;
  }
}

.backstage-wrapper {
  height: 403px;
  // width: 1161px;
  width: 72.56%;
  min-width: 960px;
  display: flex;
  justify-content: flex-start;
  // gap: 87px;
  gap: 7.49%;
  margin: 0px auto;
  @media (max-width: $smallDesktop) {
    height: 414px;
    margin-left: 30px;
    margin-right: 0px;
    width: 94%;
    gap: 30px;
  }
  @media (max-width: $tablet) {
    height: 367px;
  }
  @media (max-width: 549px) {
    height: 600px;
  }
  @media (max-width: $mobile) {
    height: 388px;
    width: 93.75%;
    margin-left: 12px;
  }
  .backstage-img {
    width: 609px;
    width: 52.45%;
    aspect-ratio: 609/403;
    // height: 403px;
    background: url("/src/../assets/img/bamboo-cap.jpg");
    @media (max-width: $smallDesktop) {
      width: 455px;
      height: 408px;
      background: url("/src/../assets/img/bamboo-cap-small.jpg");
    }
    @media (max-width: 990px) {
      display: none;
    }
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.backstage-text {
  margin-top: -7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  object-fit: contain;
  width: 40%;
  @media (max-width: $smallDesktop) {
    min-width: 454px;
    width: 454px;
    margin: -10px 0 0 0;
  }
  @media (max-width: 990px) {
    width: 48.3%;
    margin-top: -49px;
    margin-left: -5px;
    justify-content: flex-start;
  }
  @media (max-width: 530px) {
    width: 70%;
    min-width: 285px;
  }
  gap: 0;
  h2 {
    @include robotoRegular;
    font-size: 48px;
    line-height: 57.6px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 0 27px 0;
    padding: 0;
    color: $text;
    @media (max-width: $smallDesktop) {
      margin: 0 0 23px 0;
    }
    @media (max-width: $tablet) {
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 550px) {
      max-width: 320px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 29px;
      width: 228px;
      margin: -1px 0 20px 3px;
    }
  }
  p {
    @include robotoRegular;
    display: block;
    color: $text;
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    @media (max-width: $tablet) {
      margin-left: -5px;
    }
    @media (max-width: 550px) {
      max-width: 320px;
    }
    @media (max-width: $mobile) {
      width: 285px;
      margin: -5px 0 0 5px;
    }
  }
  h3 {
    @include robotoRegular;
    color: $text;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 24px;
    line-height: 28.8px;
    margin: 56px 0 34px 0;
    padding: 0;
    @media (max-width: $smallDesktop) {
      margin-top: 58px;
    }
    @media (max-width: $tablet) {
      margin: 34px 0 20px 0;
    }
    @media (max-width: $mobile) {
      margin: 22px 0 20px 5px;
    }
  }
}

.main-goal {
  line-height: 22.4px;
  @media (max-width: $tablet) {
    width: 105%;
  }
  @media (max-width: $mobile) {
    display: block !important;
    margin: -10px 0 0 4px !important;
    width: 300px !important;
  }
}
