.choose-wrapper {
  height: 1106px;
  width: 100%;
  align-content: center;
  background: url("/src/../assets/img/palm_foto.jpg") no-repeat left bottom,
    url("/src/../assets/img/strelitzia1.png") no-repeat right bottom;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $smallDesktop) {
    height: 1070px;
    background: url("/src/../assets/img/palm_foto-small.jpg") no-repeat left
        bottom,
      url("/src/../assets/img/strelitzia1-small.jpg") no-repeat right bottom;
  }
  @media (max-width: $tablet) {
    height: 964px;
    background: url("/src/../assets/img/palm_foto-tab.jpg") no-repeat left
        bottom,
      url("/src/../assets/img/strelitzia1-tab.jpg") no-repeat right bottom;
  }
}

.gallery {
  width: 72.375%;
  min-width: 940px;
  // margin-top: -62px;
  // margin-left: 13.625%;
  margin: -62px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  @media (max-width: 1130px) {
    grid-row-gap: 92px;
    margin-top: -67px;
  }
  @media (max-width: 990px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    min-width: 600px;
  }
  .gal-item {
    box-sizing: border-box;
    // width: 366px;
    width: 100%;
    aspect-ratio: 61/71;
    // height: 426px;
    border: 1px solid rgba(250, 111, 50, 1);
    overflow: hidden;
    border-radius: 5px;
    @media (max-width: $smallDesktop) {
      aspect-ratio: 294/354;
    }
    @media (max-width: $tablet) {
      aspect-ratio: 285/332;
    }
    .pet-card {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 1/1;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .herby {
      background: url("/src/../assets/svg/banana-bamboo_icon.svg") no-repeat;
      background-position: right 11px top 2px;
    }
    .meet {
      background: url("/src/../assets/svg/meet-fish_icon.svg") no-repeat;
      background-position: right 8px top -1px;
    }
    div {
      span {
        @include robotoBtn;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.8px;
        @media (max-width: $tablet) {
          letter-spacing: 0px;
          font-size: 12.47px;
          line-height: 17.46px;
        }
      }
      p {
        @include robotoLight;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 16px;
        @media (max-width: $tablet) {
          margin-top: 6px;
          margin-left: 12px;
          font-size: 11.96px;
          line-height: 14.03px;
        }
      }
    }
  }
}

.panda {
  background: url("/src/../assets/img/giantPandaGal.jpg");
}
.eagles {
  background: url("/src/../assets/img/eaglesGal.jpg");
}

.gorillas {
  background: url("/src/../assets/img/gorrilasGal.jpg");
}

.sloth {
  background: url("/src/../assets/img/slothGal.jpg");
}

.cheetah {
  background: url("/src/../assets/img/cheetahsGal.jpg");
}

.penguins {
  background: url("/src/../assets/img/pinguinsGal.jpg");
}

.tab {
  @media (max-width: 990px) {
    display: none;
  }
}

.arrow-left {
  @include arrow;
  // left: 138px;
  // top: 402px;
  background: url("/src/../assets/svg/Vector.svg") no-repeat left 50% bottom 50%,
    $orangeGradient;
}

.arrow-right {
  @include arrow;
  // bottom: 468px;
  // left: 1400px;
  background: url("/src/../assets/svg/VectorRight.svg") no-repeat left 50%
      bottom 50%,
    $orangeGradient;
}

.choose-button {
  // margin-top: 18px;
  // // margin-left: 651px;
  // margin-left: auto;
  // margin-right: auto;
  margin: 80px;
  font-size: 16px;
  line-height: 22.4px;
  text-transform: uppercase;
  @media (max-width: $tablet) {
    margin-top: 60px;
  }
}

.pet-info {
  transition: 0.7s;
  background: rgba(0, 0, 0, 40%);
  @include robotoRegular;
  font-size: 20px;
  padding: 80px 40px 0px 40px;
  color: white;
  height: 426px;
  transform: translateY(100%);
}

.arrow-container {
  position: relative;
  top: 402px;
  display: flex;
  justify-content: space-between;
  width: 82.625%;
  min-width: 1130px;
  height: 62px;
  margin: 0 auto;
  @media (max-width: $galleryMedia) {
    top: 364px;
    min-width: 295px;
    max-width: 295px;
    height: 62px;
  }
  @media (max-width: $tablet) {
    top: 338px;
    min-width: 154px;
    max-width: 154px;
    height: 62px;
  }
}
