.choose-wrapper {
  height: 1106px;
  width: 100%;
  background: url("/src/../assets/img/palm_foto.jpg") no-repeat left bottom,
    url("/src/../assets/img/strelitzia1.png") no-repeat right bottom;
  display: inline-block;
}

.gallery {
  width: 1158px;
  margin: -62px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;

  .gal-item {
    box-sizing: border-box;
    width: 366px;
    height: 426px;
    border: 1px solid rgba(250, 111, 50, 1);
    overflow: hidden;
    border-radius: 5px;
    .pet-card {
      height: 366px;
      width: 366px;
    }
    .herby {
      background: url("/src/../assets/svg/banana-bamboo_icon.svg") no-repeat;
      background-position: right 11px top 2px;
    }
    .meet {
      background: url("/src/../assets/svg/meet-fish_icon.svg") no-repeat;
      background-position: right 8px top -1px;
    }
    div {
      span {
        @include robotoBtn;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.8px;
      }
      p {
        @include robotoLight;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 16px;
      }
    }
  }
}

.panda {
  background: url("/src/../assets/img/giantPandaGal.jpg");
}
.eagles {
  background: url("/src/../assets/img/eaglesGal.jpg");
}

.gorillas {
  background: url("/src/../assets/img/gorrilasGal.jpg");
}

.sloth {
  background: url("/src/../assets/img/slothGal.jpg");
}

.cheetah {
  background: url("/src/../assets/img/cheetahsGal.svg");
}

.penguins {
  background: url("/src/../assets/img/pinguinsGal.jpg");
}

.arrow-left {
  @include arrow;
  left: 138px;
  top: 402px;
  background: url("/src/../assets/svg/Vector.svg") no-repeat left 50% bottom 50%,
    $orangeGradient;
}

.arrow-right {
  @include arrow;
  bottom: 468px;
  left: 1400px;
  background: url("/src/../assets/svg/VectorRight.svg") no-repeat left 50%
      bottom 50%,
    $orangeGradient;
}

.choose-button {
  margin-top: 18px;
  margin-left: 651px;
  font-size: 16px;
  line-height: 22.4px;
  text-transform: uppercase;
}
