.footer {
  height: 402px;
  width: 100%;
  background: $footerBg;
  padding-top: 41px;
  @media (max-width: $tablet) {
    height: 314px;
    padding-top: 12px;
  }
  .footer-wrapper {
    // margin-left: 220px;
    margin: 0px auto;
    // width: 1160px;
    width: 72.5%;
    display: grid;
    // grid-template-columns: 298px 1fr 367px;
    grid-template-columns: 25.69% 42.67% 31.64%;
    grid-template-rows: 120px 94px 134px;
    @media (max-width: $smallDesktop) {
      width: 90.7%;
      margin: 0px auto 0px 44px;
    }
    .volunt-link {
      @media (max-width: $tablet) {
        order: 3;
      }
    }
    @media (max-width: $tablet) {
      width: 93.75%;
      grid-template-columns: 49.67% 50.33%;
      grid-template-rows: 84px 80px 94px;
      margin: 0 auto;
    }
    .logo {
      background-position: 9px 20px;
      @media (max-width: $smallDesktop) {
        margin-left: -6px;
        margin-top: -1px;
      }
      @media (max-width: $tablet) {
      }

      p {
        margin-top: -3px;
      }
    }
    .button {
      @include robotoBtn;
      border-radius: 5px;
      text-transform: uppercase;
      @media (max-width: 600px) {
        width: 240px;
      }
      @media (max-width: $mobile) {
        margin-top: 30px;
        width: 290px;
      }
    }
    .footer-nav {
      grid-row: span 3;
      min-width: 332px;
      @include nav;
      @include robotoBtn;
      color: white;
      margin-left: 101px;
      margin-right: 32px;
      margin-top: 330px;
      @media (max-width: $smallDesktop) {
        width: 332px;
        margin: 330px 0 0 58px;
      }
      @media (max-width: $tablet) {
        order: 4;
        min-width: 301px;
        width: 301px;
        gap: 37px;
        grid-row: span 1;
        margin: 73px 0 0 0;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
      }
      @media (max-width: 630px) {
        margin-top: 93px;
      }
      @media (max-width: $mobile) {
        height: 22px;
        min-width: 278px;
        width: 278px;
        margin: 16px auto 0 auto;
        gap: 30px;
      }
    }
    .subscribe {
      grid-row: span 2;
      @media (max-width: $smallDesktop) {
        width: 366px;
        margin-left: -80px;
      }
      @media (max-width: 980px) {
        width: 36%;
      }
      @media (max-width: $tablet) {
        display: none;
      }
    }
    .footer-credits {
      @include robotoUltraLight;
      @include textMArginReset;
      color: white;
      @media (max-width: $smallDesktop) {
        width: 228px;
      }
      @media (max-width: $tablet) {
        order: 4;
      }
      p {
        margin-left: 140px;
        @media (max-width: $smallDesktop) {
          margin-left: 89px;
        }
        @media (max-width: $tablet) {
          margin-left: 72px;
        }
        @media (max-width: $mobile) {
          margin-left: 50px;
          font-size: 14px;
          letter-spacing: 0.6px;
        }
      }
      .credits-item {
        margin-top: 87px;
        @media (max-width: 1300px) {
          margin-top: 22px;
        }
        @media (max-width: $smallDesktop) {
          width: 228px;
          margin-top: 87px;
        }

        @media (max-width: 980px) {
          margin-top: 22px;
          margin-left: -20px;
        }
        @media (max-width: $tablet) {
          margin-top: 42px;
          margin-left: 72px;
        }
        @media (max-width: 600px) {
          margin-top: 30px;
          margin-left: -60px;
        }
        @media (max-width: $mobile) {
          margin-top: 30px;
          margin-left: 50px;
        }
      }
      .credits-item2 {
        margin-top: -5px;
        font-size: 15px;
        letter-spacing: 0.4px;
        @media (max-width: $smallDesktop) {
          width: 228px;
        }
        @media (max-width: 980px) {
          margin-left: -20px;
        }
        @media (max-width: $tablet) {
          margin-left: 72px;
        }
        @media (max-width: 600px) {
          margin-left: -60px;
        }
        @media (max-width: $mobile) {
          margin-left: 50px;
          font-size: 14px;
        }
      }
    }
  }
}

.logo-link {
  @media (max-width: $tablet) {
    order: -1;
  }
}

.footer-desk {
  @media (max-width: $mobile) {
    display: none !important;
  }
}

.footer-mobile {
  display: none !important;
  @media (max-width: $mobile) {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    align-items: center;
    padding-top: 10px;
    min-width: 320px;
  }
}

.footer-logo {
  @media (max-width: $mobile) {
    width: 128px;
    height: 24px;
    padding: 0;
    text-align: left;
    border: none;
    background-image: url("/src/../assets/svg/bamboo.svg");
    background-repeat: no-repeat;
    background-position: 72px -4px !important;
  }
}

.footer-donate {
  .footer-wrapper {
    @media (max-width: $smallDesktop) {
      margin-left: 30px;
    }
    @media (max-width: $tablet) {
      margin-left: 16px !important;
    }
    @media (max-width: $mobile) {
      margin-left: 0px !important;
    }
    .footer-nav {
      @media (max-width: $smallDesktop) {
        margin-left: 70px;
      }
      @media (max-width: $tablet) {
        margin-left: 5px !important;
      }
      @media (max-width: $mobile) {
        margin-left: 20px !important;
      }
    }
  }
}
