.header-wrapper {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  @media (max-width: $tablet) {
    height: 34px;
    position: fixed;
    z-index: 4;
  }
}

.logo-link {
  margin-left: 13.75%;
  @media (max-width: $smallDesktop) {
    margin-left: 3%;
  }
}

.nav {
  @include robotoBtn;
  @include nav;
  margin-left: 3.98%;
  @media (max-width: $smallDesktop) {
    margin-left: 6.4%;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.credits {
  @include robotoBtn;
  margin-left: 27.4%;
  @media (max-width: $smallDesktop) {
    margin-left: 25.9%;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}
