.pick {
  height: 935px;
  width: 100%;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding-top: 69px;
  @media (max-width: $smallDesktop) {
    padding-top: 30px;
    height: 846px;
  }
  @media (max-width: $tablet) {
    padding-top: 20px;
    height: 763px;
  }
  @media (max-width: $mobile) {
    height: 1062px;
    padding-top: 20px;
  }
}

.pick-wrapper {
  box-sizing: border-box;
  // width: 1160px;
  width: 72.5%;
  min-width: 940px;
  height: 835px;
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  // margin-left: 220px;
  margin: 0 auto;
  padding: 41px 0 99px 0;
  @media (max-width: $smallDesktop) {
    padding: 30px 0 50px 0;
    height: 796px;
    min-width: 640px;
    width: 94%;
  }
  @media (max-width: $tablet) {
    padding: 10px 0 20px 0;
    height: 741px;
  }
  @media (max-width: $mobile) {
    padding: 20px 0 20px 0;
    min-width: 300px;
    height: 1042px;
  }
  h2 {
    @include textMArginReset;
    @include robotoRegular;
    text-align: center;
    font-size: 48px;
    line-height: 57.6px;
    // width: 463px;
    width: 39.91%;
    color: $orange;
    // margin-top: 0px;
    padding: 0;
    // margin-left: 350px;
    // margin-bottom: 31px;
    margin: 0px auto 31px auto;
    @media (max-width: $smallDesktop) {
      width: 49.25%;
      margin-bottom: 20px;
    }
    @media (max-width: $tablet) {
      font-size: 42px;
      line-height: 50.4px;
      width: 63.28%;
      margin-bottom: 20px;
    }
    @media (max-width: $mobile) {
      font-size: 24px;
      line-height: 29px;
      width: 77.33%;
      margin-bottom: 10px;
    }
  }
  button {
    // margin-left: 431px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: $orangeGradient;
    @media (max-width: $mobile) {
      margin-top: 62px;
    }
  }
}
