.testimonials {
  background: url("/src/../assets/img/leav_foto.jpg") no-repeat bottom -134px right;
  @media (max-width: $smallDesktop) {
    background: url("/src/../assets/img/leav_foto-small.jpg") no-repeat bottom -88px
      right;
    height: 842px;
  }
  @media (max-width: $tablet) {
    height: 668px;
    background: url("/src/../assets/img/leav_foto-tab.jpg") no-repeat bottom -69px
      right;
  }
  @media (max-width: $mobile) {
    height: 580px;
    background: url("/src/../assets/img/leav_foto-mob.jpg") no-repeat bottom -29px
      right;
  }
}

.testimonials-wrapper {
  padding-top: 140px;
  // margin-left: 220px;
  margin: 0 auto;
  height: 779px;
  width: 72.5%;
  min-width: 940px;
  object-fit: contain;
  overflow: hidden;
  @media (max-width: $smallDesktop) {
    padding-top: 100px;
  }
  @media (max-width: $tablet) {
    height: 668px;
    width: 100%;
    min-width: 640px;
    padding-top: 60px;
  }
  @media (max-width: 630px) {
    width: 100%;
    min-width: 320px;
    padding-top: 30px;
    height: 500px;
  }
  h2 {
    @include robotoRegular;
    @include textMArginReset;
    font-size: 36px;
    line-height: 46.8px;
    // width: 206px;
    width: 17.76%;
    // margin-left: 477px;
    // margin-bottom: 47px;
    margin: 0px auto 47px auto;
    @media (max-width: $smallDesktop) {
      width: 21.91%;
      margin-bottom: 30px;
    }
    @media (max-width: $tablet) {
      width: 32.18%;
    }
    @media (max-width: 630px) {
      width: 43.125%;
      font-size: 24px;
      line-height: 28.8px;
      margin-bottom: 20px;
    }
  }
  .replays-wrapper {
    height: 391px;
    margin-bottom: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 29.5px;
    @media (max-width: $tablet) {
      width: 93.75%;
      min-width: 600px;
      margin: 0 auto;
      flex-direction: column;
      gap: 15px;
      height: 357px;
    }
    @media (max-width: 630px) {
      min-width: 299px;
    }
    .replay {
      min-width: 268px;
      height: 391px;
      @media (max-width: $smallDesktop) {
        min-width: 294px;
      }
      @media (max-width: $tablet) {
        height: 109px;
      }
      @media (max-width: 630px) {
        min-width: 299px;
        height: 109px;
      }
    }
  }
  .scroll-bar {
    // margin-left: 280px;
    margin: 0px auto;
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.button-testim {
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 51px;
  @media (max-width: $tablet) {
    display: block;
    margin: 40px auto 0 auto;
    width: 240px;
  }
  @media (max-width: $mobile) {
    margin-top: 30px;
  }
}

.rep4 {
  @media (max-width: $smallDesktop) {
    display: none;
  }
  @media (max-width: $tablet) {
    display: none !important;
  }
}
