//abstracts

@import "./abstracts/mixins";
@import "./abstracts/variables";

//layouts

@import "./layout/header";
@import "./layout/footer";
@import "./layout/quiz";
@import "./layout/result";

//components
@import "./components/stage-bar";
@import "./components/guess";
@import "./components/bird-card";
@import "./components/player";
@import "./components/variants";

//main page styles

.body-wrapper {
  background: url("../assets/img/default-bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;

  .main-links {
    height: 200px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    background-color: $blackBg;
    transition: 0.5s;
    &:hover {
      scale: 1.2;
    }
    a {
      text-decoration: none;
      div {
        @include centered;
        color: white;
        font-size: 25px;
        font-family: Pacifico, cursive;
      }
    }
  }
}
