.car-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 70%;
    grid-template-rows: 30px 30px 60px 5px;
    h3 {
        margin: 0;
        padding: 0;
    }
    .finish-icon {
        grid-column: span 2;
        justify-self: end;
    }
    .stop-car-button {
        grid-column: span 2;
    }
    .road {
        grid-column: span 3;
    }
}
