.race-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.winner-message {
    position: fixed;
    height: 100px;
    width: 30%;
    background-color: black;
    color: white;
    top: 25%;
    left: 35%;
}
