.panda-bg {
  height: 387px;
  width: 100%;
  background: url("/src/../assets/img/panda_bg.jpg") bottom;
  @media (max-width: $smallDesktop) {
    width: 160%;
    height: 390px;
    margin-left: -17.2%;
  }
  @media (max-width: $tablet) {
    width: 100%;
    height: 335px;
    margin: 34px 0 0 0;
    background: url("/src/../assets/img/panda_bg-tab.jpg") bottom;
  }
  @media (max-width: $mobile) {
    width: 100%;
    height: 187px;
    margin: 34px 0 0 0;
    background: url("/src/../assets/img/panda_bg-mob.jpg") bottom;
  }
}

.pick-donate {
  height: 1412px;
  @media (max-width: $smallDesktop) {
    height: 1303px;
  }
  @media (max-width: $tablet) {
    height: 1313px;
  }
  @media (max-width: 999px) {
    height: 1500px;
  }
  @media (max-width: $tablet) {
    height: 1313px;
  }
  @media (max-width: 560px) {
    height: 1500px;
  }

  @media (max-width: $mobile) {
    height: 1126px;
  }
  .donate-title {
    color: white;
    @include robotoRegular;
    @include textMArginReset;
    font-weight: 400px;
    font-size: 36px;
    font-style: normal;
    // width: 1156px;
    width: 72.25%;
    // margin-left: 220px;
    // margin-top: -28px;
    margin: -28px auto 0px auto;
    @media (max-width: $smallDesktop) {
      width: 77.8%;
      margin-top: 12px;
      margin-left: 31px;
    }
    @media (max-width: $tablet) {
      width: 93.7%;
      margin-top: 12px;
      margin-left: 20px;
      font-size: 24px;
      line-height: 120%;
    }
    @media (max-width: $mobile) {
      width: 300px;
      margin-left: 10px;
    }
  }
  p {
    @include textMArginReset;
    @include robotoRegular;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: white;
    width: 72.5%;
    margin: 14px auto 0px auto;
    @media (max-width: $smallDesktop) {
      width: 93.9%;
      margin-top: 41px;
    }
    @media (max-width: $tablet) {
      margin-top: 20px;
    }
  }
  .inform {
    @include textMArginReset;
    color: #fe9013;
    @include robotoRegular;
    width: 72.5%;
    font-size: 36px;
    line-height: 48.6px;
    margin: 40px auto 0px auto;
    @media (max-width: $smallDesktop) {
      width: 93.9%;
    }
    @media (max-width: $tablet) {
      margin-top: 28px;
    }
    @media (max-width: $mobile) {
      margin-top: 26px;
      font-size: 24px;
      line-height: 28.8px;
    }
  }
  .pick-wrapper {
    height: 964px;
    margin-top: 60px;
    @media (max-width: $smallDesktop) {
      margin-top: 43px;
      height: 916px;
    }
    @media (max-width: $tablet) {
      margin-top: 26px;
      height: 918px;
      width: 93.75%;
      min-width: 320px;
    }
    @media (max-width: $mobile) {
      margin-top: 26px;
      height: 591px;
      width: 94.1%;
      min-width: 301px;
    }
    .pick-title-donate {
      @include textMArginReset;
      margin: 0 auto;
      width: 39.91%;
      @media (max-width: $smallDesktop) {
        width: 49.25%;
        margin-left: 24.57%;
        margin-top: -10px;
      }
      @media (max-width: $tablet) {
        width: 77.17%;
        margin: 20px auto 0px auto;
        font-size: 48px;
      }
      @media (max-width: $mobile) {
        width: 232px;
        margin: 0px auto 0px auto;
        font-size: 24px;
      }
    }
    .pick-description-donate {
      margin: 0 auto;
      width: 84.14%;
      @media (max-width: $smallDesktop) {
        width: 90.32%;
        margin-left: 5.6%;
        margin-top: -12px;
      }
    }
    .pick-description-donate__subtitle {
      @include textMArginReset;
      display: block;
      margin-top: 23px;
      margin-left: -6px;
      // margin: 23px auto 0px auto;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      width: 100%;
      font-size: 24px;
      line-height: 120%;
      color: #333b41;
      @media (max-width: $tablet) {
        width: 100%;
        margin: 40px 0px 0px -5px;
        text-align: center;
      }
      @media (max-width: $mobile) {
        width: 110%;
        margin: 24px 0px 0px -15px;
        font-size: 16px;
        line-height: 22.4px;
        text-align: center;
      }
    }
    .donate-amount {
      margin-top: -2px;
      margin-left: -2px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
      @media (max-width: 1599px) {
        text-align: center;
      }
      @media (width: $smallDesktop) {
        text-align: start;
        margin-left: 14px;
      }
      @media (max-width: 999px) {
        text-align: center;
      }
      @media (width: $tablet) {
        text-align: start;
        margin-left: -22px;
        margin-top: -10px;
      }
      @media (max-width: 639px) {
        text-align: center;
      }
      @media (width: $mobile) {
        text-align: start;
        margin-left: -15px;
        margin-top: 5px;
      }
    }
    .other-amount {
      display: block;
      // margin-left: 346px;
      // margin-top: 50px;
      margin: 50px auto 0px auto;
      width: 264px;
      height: 50px;
      border-radius: 2px;
      border: 1px solid #929699;
      background: url("/src/../assets/svg/dolar-pale.svg") no-repeat left 95%
          top 50%,
        rgba(0, 0, 0, 0);
      &::placeholder {
        padding-left: 6px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #929699;
      }
      @media (max-width: 1599px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $smallDesktop) {
        margin: 50px 0px 0px 284px;
      }
      @media (max-width: 999px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $tablet) {
        margin: 46px 0 0 176px;
        height: 38px;
        width: 176px;
      }
      @media (max-width: 639px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $mobile) {
        margin: 3px 0 0 43px;
      }
    }
    .donation-type {
      height: 21px;
      // margin-top: 25px;
      // margin-left: 376px;
      margin: 25px auto 0 auto;
      display: flex;
      justify-content: space-between;
      width: 195px;
      @media (max-width: 1599px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $smallDesktop) {
        margin: 25px auto 0 310px;
      }
      @media (max-width: 999px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $tablet) {
        margin: 30px 0 0 157px;
      }
      @media (max-width: 639px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $mobile) {
        margin: 24px 0 0 24px;
      }
    }

    button {
      margin-left: 336px;
      margin-top: 31px;
      @media (max-width: 1599px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $smallDesktop) {
        margin-left: 274px;
      }
      @media (max-width: 999px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $tablet) {
        margin-left: 118px;
      }
      @media (max-width: 639px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $mobile) {
        margin-left: -15px;
        margin-top: 28px;
      }
    }
    .share {
      @include textMArginReset;
      margin-top: 30px;
      margin-left: 334px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #333b41;
      @media (max-width: 1599px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $smallDesktop) {
        margin-left: 274px;
      }
      @media (max-width: 999px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (max-width: $tablet) {
        margin-left: 118px;
      }
      @media (max-width: 639px) {
        margin-left: auto;
        margin-right: auto;
      }
      @media (width: $mobile) {
        width: 115%;
        margin-left: -23px;
        text-align: center;
      }
    }
  }
}
